@media all and (max-width: 980px){
.wrapper {
  max-width: 100%;
}
#breadcrumbs {
  margin: 0 auto;
  max-width: 100%;
}
}
@media all and (max-width: 768px){
#block-nice-menus-1{display:none;visibility:hidden;}
#block-menu-menu-nav-mobile {
  display:inherit;
  visibility:visible;
}
#top-bar .collect a {
  margin: 0 0 0 2px;
  padding: 5px 10px;
}
.footer_item {
  margin-right: 1.3%;
  padding-right: 1.3%;
  width: 23%;
}
#footer .last-footer {
  clear: both;
  margin-bottom: 10px;
  width: 100%;
}
#lang {
  margin: 5px 0 0;
}
.home-action-butons {
  display: none;
	visibility: hidden;
}
.search-box {
  float: left;
  margin-top: 0;
}
#new-gallery {
  margin-left: 0;
  margin-right: 0;
}
#inner .inner-row .sidebar {
  float: none;
  width: 100%;
}
.killer {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  text-align: center;
  width: 100%;
}
.celebrity-list-data {
  margin: 15px 0 15px 0;
}
.related-items .title {
  font-size: 24px;
}
.internal-tabs ul li {
  width: 100%;
}
#main_menu {
  float: none;
  width: 100%;
}
}

@media all and (max-width: 685px){
	
img { max-width: 100%; height:auto;}
.leader-board, .content-leaderboard {
  display: none;
  visibility:hidden;
}
.search-box {
  margin-top: 15px;
}
.intro {
  width: auto;
}
.intro-text {
  width: 100%;
}
.front-killer {
	float: none;
  text-align: center;
  width: 100%;
}
.categories .row {
  width: 100%;
}
}

@media all and (max-width: 568px){
#main_wrap {
  margin: 0 auto;
  width: 98%;
}
#block-menu-menu-footer1,#block-menu-menu-footer2{
  display: none;
  visibility:hidden;
}


.footer_item {
  margin-right: 1.3%;
  padding-right: 1.3%;
  width: 48%;
}
logo {
  width: 37%;
}
#logo img{
  width: 100%;
}
.cat-albums-list {
  width: auto;
}
#bubbles {
  width: 100%;
}
.content-ads{}
.content-ads img{width:100%;height:auto;}
.main_title {
  font-size: 16px;
}


.news-item img, .tip-item img {
  height: auto !important;
  width: 100% !important;
}
}




@media all and (max-width: 480px){
.header-col-one #logo {
  width: 30%;
}
.related-box .body{
  display:none;
  visibility:hidden;	
}

#user-icons .fav-icon a {
  font-size: 12px;
}
.country-deals ul li.row {
  min-height: 200px;
}
.country-deals ul li .title{font-size:10px;}
.news-list .body, .tips-list .body {
  display: none;
  visibility:hidden;
}
.header-col-two .logo_intro {
  margin-top: 0px;
}

.front-row.directory {
  display:none;
}


.front-row .box {
  width: 96%;
  margin:20px 2% 20px;
}
.home-banners {
  margin:0 auto;
}
.home-banners {
  text-align: center;
  width: 100%;
}
#home-killer {
  float: none;
}
#home-under-killer {
  float: none;
}
.front-row.planning-tools span {
  border-right: medium none;
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
}
.front-row.planning-tools .tool a {
  border-right:none;
  height: 61px;
  width: 48.8%;
}
}




@media all and (max-width: 380px){


.contest-voting .row .name {
  clear: both;
  float:none;
}
.contest-voting .row .vote {
  left: 0;
}
.contest-voting .row .title {
  position: relative;
}
.contest-voting .row .fb-vote {
  position:relative;
}
.jcarousel-skin-tango .jcarousel-item .body p {
  display:none;
  visibility:hidden;
}
.jcarousel-skin-tango .jcarousel-item {
  height: auto;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
  height: auto;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  top: 89px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
  top: 89px;
}
.jcarousel-skin-tango .jcarousel-item .title h2 {
  font-weight: 400;
}
#news, #front-deals {
  padding-right: 1%;
}
#news .text, #tips  .text, #front-deals .views-row-1 .text, #front-websites .text{
	display:none;
	visibility:hidden;
}


#news .views-field-view-node, #tips .views-field-view-node, #front-deals .views-field-view-node, #front-websites .views-field-view-node {
display:none;
	visibility:hidden;
}

#news .views-row-1 .image, #tips .views-row-1 .image, #front-deals .views-row-1 .image, #front-websites .views-row-1 .image {
   width: 100%;
}
#news .views-row-2 .image, #tips .views-row-2 .image, #front-deals .views-row-2 .image, #front-websites .views-row-2 .image {
   width: 100%;
}
#news .views-row-1,#tips .views-row-1,#front-deals .views-row-1,#front-websites .views-row-1{
    height: auto;
}
#news .views-row-2, #tips .views-row-2, #front-deals .views-row-2, #front-websites .views-row-2 {
	height: auto;
}
.premium-companies-block .row .city {
  display:none;
  visibility:hidden;
}

#top_menu {
  float: left;
  margin-right: 0;
}
#top_menu li a {
  padding: 4px;
}
#top_menu li {
  margin: 0;
}
.call-to-action {
  width: 70px;
}
#search .form-submit {
  width: 79px;
}
.tool_item {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.tool_item img {
  width: auto;
}
.tool_item a {
  display: inline;
}
.company .row.category {
display:none;
visibility:hidden;
}
.albums-terms ul li {
  height: 92px;
}
.albums-terms ul li .description, .albums-terms ul li .latest{display:none;visibility:hidden;}
.albums-terms ul li .title {
  border-bottom: medium none;
  margin-top: 20px;
}
.video-terms ul li {
  height: 92px;
}
.video-terms ul li .body, .video-terms ul li .latest{display:none;visibility:hidden;}
.video-terms ul li .title {
  border-bottom: medium none;
  margin-top: 20px;
}


.chklst-summary {
  margin-bottom: 10px;
  margin-top:0;
  width: 100%;
}
.chklst-summary .summary-box span {
  font-size: 20px;
  line-height: 20px;
}
.chklst-summary .add-task a {
  font-size: 14px;
}
.tips-terms .row, .deals-terms .row {
  width: 32.5%;
}
}

@media all and (max-width: 320px){
	
#top_menu li a {
  font-size: 10px;
  padding: 3px;
}
.header-col-two .logo_intro {
  margin-right: 0;
  width: 100%;
}
.call-to-action {
  width: 140px;
}
#search .form-text {
  padding-left: 2%;
  width: 65%;
}
#search .form-submit {
  width: 83px;
}
.header-col-two #search {
  clear: both;
  float: none;
}
.jcarousel-skin-tango .jcarousel-navigation {
  bottom: 0px;
}
.block_item h2 a, .block_item h2, .right_col_block h2, .right_col_block h2 a {
  font-size: 12px;
}

.tips-terms .row, .deals-terms .row {
  min-height: 105px;
  width: 32.4%;
}
.news-list .more, .tips-list .more {
  display:none;
  visibility:hidden;
}
.pane-fb-social-facebook-comments, .pane-fb-social-facebook-comments-small {
  display:none;
  visibility:hidden;
}
.related-tips ul li .body{
  display:none;
  visibility:hidden;
}
.related-tips ul li .more {
  display:none;
  visibility:hidden;
}
.service-links {
  display:none;
  visibility:hidden;
}
.flag-un {
  margin-top: 0;
}

}