/* reset.css */
/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }






body {
  background: #f8f8f8;
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}
.wrapper {
  margin: 0 auto;
  width: 980px;
}
.hidden{visibility: hidden; display: none;}
.clear {clear: both;}
.right {float: right;}
.left {float: left;}
.centered {
  margin: 0 auto;
  text-align: center;
}
a {text-decoration:none;color:#E60083;}
#page-wrapper{}
#page{position:relative;}



/*       Header         */
#header {
  border-bottom: 1px solid #e3e3e3;
  margin: 15px 0 2px;
  overflow: hidden;
  width: 100%;
}

#top-bar {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #f3c5c5;
  overflow: hidden;
  padding: 8px;
}
#top-bar .collect {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
}
#top-bar .collect a {
  background: #2bcbc9 none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  margin: 0 0 0 10px;
  padding: 10px 20px;
  text-decoration: none;
}
#top-bar .collect a:hover{ background: #5f5f5f none repeat scroll 0 0;}

.home-action-butons {
  margin-top: 8px;
}
.home-action-butons a {
  color: #000;
  margin-left: 20px;
}

#top-icons {
  margin-top: 2px;
  position: absolute;
  right: 0;
  top: 30px;
}
#top-icons .region-search {
  float: left;
}
#follow a {
  float: left;
  margin-right: 17px;
}
#follow a:last-child{margin-right:0;}

.follow-icon {
  display: block;
  float: left;
  font-size: 0;
  height: 34px;
  margin-right: 2px;
  width: 34px;
  background: url("../images/sripte.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.follow-icon:hover {
  opacity: 0.7;
}
#follow-twitter {
  background-position:0 -38px;
}
#follow-facebook {
  background-position:0 -79px;
}
#follow-pinterest {
  background-position:0 -119px;
}
#follow-instagram {
  background-position: 0 -392px;
}
#follow-rss {
  background-position: 0 -209px;
}
#follow-youtube {
  background-position: 0 -679px;
}
#top-icons #edit-actions, #top-icons #edit-actions--2{
  display:none;
}

.search-box {
  float: right;
	position: relative;
}
#block-search-form input[type="text"] {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #eaa8b4;
  border-radius: 3px;
  color: #999;
  height: 34px;
  margin: 0;
  padding: 0 10px;
  width: 175px;
}
#block-search-form #edit-submit.form-submit {
  background: rgba(0, 0, 0, 0) url("http://assets.arabiaweddings.com/sites/default/files/uploads/2015/09/04/search.png") no-repeat scroll 0 0;
  border: 0 none;
  font-size: 0;
  height: 22px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 27px;
}

#lang {
	margin-left: 20px;
	margin-top: 8px;	
}
#lang .active {
  display: none;
  visibility: hidden;
}
#lang a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

#logo {
  float: left;
}

#main_menu {
  float: right;
  margin-top: 47px;
}
#main_menu ul{}
#main_menu ul li {
  float: left;
  list-style: outside none none;
  padding: 0 3px 0 0;
}
#main_menu ul li:last-child {
  margin-left: 25px;
  padding: 0;
}
#main_menu li a {
  color: #333;
  display: block;
  font-weight: 700;
  padding: 5px 10px;
  text-decoration: none;
}
#main_menu li a:hover, #main_menu li a.active-trail {
  color: #e60083;
}

#nav-bar {
  background: #fda5bb none repeat scroll 0 0;
  float: left;
  margin-bottom: 1px;
  width: 100%;
}
ul.nice-menu li {
  background-color: #fda5bb;
  border: medium none;
  z-index: 999999999;
}
ul.nice-menu a {
  color: #fff;
  font-weight: 700;
  padding: 7px 10px;
}
ul.nice-menu-down li.menuparent {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.leader-board {
  text-align: center;
}
#page-title {
  clear: both;
  color: #fda5bb;
  font-family: "Great Vibes",cursive;
  font-size: 28px;
  margin: 20px 0;
}
#breadcrumb {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d2d2d2;
  color: #909ea1;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 10px 5px;
}
#breadcrumb .breadcrumb {
  padding: 0;
}
#breadcrumb .breadcrumb a {
  color: #333;
}

/*  Inner Pages  */
#inner{}
#inner .inner-row {
  float: left;
  margin:  0;
  width: 100%;
}
#inner .inner-row .sidebar {
  float: right;
  width: 300px;
}

/*  Main section  */

.intro-img {
  clear: both;
  margin-top: 3px;
  position: relative;
}
.intro-img .outer, .categories .outer {
  border: 1px solid #fff;
  bottom: 25px;
  left: 50%;
  margin-left: -120px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 240px;
}
.intro-img .outer .inner, .categories .outer .inner {
  background: #fff none repeat scroll 0 0;
  padding: 10px 20px;
}
.intro-img .outer .inner h2, .categories .outer .inner h2 {
  color: #fda5bb;
  font-family: "Great Vibes",cursive;
  font-size: 30px;
}
.intro-img .outer .inner span, .categories .outer .inner span {
  color: #000;
  font-size: 18px;
}

.content-leaderboard {
  margin: 15px auto 0;
  overflow: hidden;
  width: 728px;
}
.intro {
  margin: 15px auto;
  overflow: hidden;
  width: 728px;
}
.intro-text {
  background: rgba(0, 0, 0, 0) url("http://assets.arabiaweddings.com/sites/default/files/uploads/2015/09/01/welcome.jpg") repeat scroll 0 0;
  float: left;
  padding: 10px;
  text-align: center;
  width: 410px;
}
.intro-text .inner {
  background: #fff none repeat scroll 0 0;
  padding: 10px;
}
.intro-text .inner span {
  color: #fda5bb;
  font-family: "Great Vibes",cursive;
  font-size: 27px;
}
.intro-text .inner p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
}
.killer {
  background: rgba(0, 0, 0, 0) url("http://assets.arabiaweddings.com/sites/default/files/uploads/2015/09/03/killer-bg.png") repeat scroll center center;
  float: right;
  margin-bottom: 15px;
  padding: 9px;
  width: 318px;
}
.front-killer { float: right; width:300px;}

.categories {}
.categories .row {
  float: left;
  margin: 0 2% 20px 0;
  position: relative;
  width: 32%;
}
.categories .row img {
	transform: scale(1);
	transition: all 0.35s ease-in-out 0s;
}
.categories .row img:hover {
	transform: scale(1.05);
}
.categories .row.last {
  margin: 0px;
}

/*  Celebrity section  */
.celebrity-list-data {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  clear: both;
  margin: 15px 0 15px -18px;
  padding: 5px 10px;
}
.celebrity-list-data .row .label {
  display: block;
}
.celebrity-list-data .row {
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  padding: 10px 0;
  text-align: justify;
}
.celebrity-list-data .row:last-child{
	border-bottom: none;
	margin-bottom: 0;	
	padding-bottom: 0;
}

/*  Gallery  */
.gallery .item {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 2px 0 rgba(31, 31, 31, 0.07);
  padding: 0;
  position: relative;
	overflow: hidden;
}
.gallery .item:hover {
  opacity: 0.9 !important;
}
.gallery .item .title {
  margin: 1px 0 20px;
  padding: 10px;
  text-align: center;
}
.gallery .item .category {
  margin-top: 15px;
  text-align: center;
}
.gallery .item img {
	transform: scale(1);
	transition: all 0.35s ease-in-out 0s;}
.gallery .item img:hover {
	transform: scale(1.05);
}

.luxury-video {
}
.luxury-video .video {
  margin-bottom: 15px;
}

#new-gallery {
  margin-left: -15px;
  margin-right: -15px;
}
.internal-tabs {
  float: left;
  margin-bottom: 10px;
}
.internal-tabs ul {}
.internal-tabs ul li {
  float: left;
  margin-right: 20px;
}
.internal-tabs ul li a {
  color: #000;
}
.internal-tabs ul li a:hover {
  color: #e60083;
}
	
	
/*  Related Items  */
.related-items {
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.related-items .title {
  color: #fda5bb;
  font-family: "Great Vibes",cursive;
  font-size: 30px;
}
.related-items .row {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 2px 0 rgba(31, 31, 31, 0.07);
  float: left;
  margin-right: 2%;
  width: 32%;
}
.related-items .row:hover {
  opacity: 0.9 !important;
}
.related-items .row.last{ margin:0;}
.related-items .row .title {
  font-family: arial;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}


/*  Pagger  */
.item-list {}
.item-list .pager {}
.item-list .pager li {
  margin: 0 5px 0 0;
  padding: 0;
}
.item-list .pager li a {
  background: #fda5bb none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding: 6px 15px;
}
.item-list .pager li a:hover {
  background: #ffcfdc none repeat scroll 0 0;
}
.item-list .pager li.pager-current {
  background: #ffcfdc none repeat scroll 0 0;
  border-radius: 3px;
  color: #a67280;
  font-weight: 400;
  padding: 6px 15px;
}


/*  Footer  */
footer {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
}
footer .footer_item {
  float: left;
  margin-right: 4%;
  width: 22%;
}
footer .footer_item.last{ margin:0;}
footer .footer_item ul{}
footer .footer_item ul li {
  list-style: outside none none;
  margin: 0 0 10px;
  padding: 0;
}
footer .footer_item ul li a {
  color: #909ea1;
  font-size: 15px;
}
footer .footer_item ul li a:hover {
  color: #B3B3B3;
}
.footer-message {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  margin: 15px 0;
  width: 100%;
}
.footer-message span {
  color: #929d9f;
  display: block;
  text-align: center;
}